*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.home-title{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 1rem;
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;

}

.household-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: #fff;
    gap: 1rem;
}

.task{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: #fff;
    padding: 1rem;
}

.task p {
    text-decoration: none;
}

.pageContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.inputBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 1rem;
}

.inputBox input{
    width: 100%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    
}

.createDescription{
    text-align: start;
    width: 100%;
    height: 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    resize: none;
}

.task-btn-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    gap: 1rem;
}

.btn-primary:hover{
    background-color: #88BE9E;
    color: #fff;
}

.btn-primary{
    width: 100%;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
    font-weight: bolder;
}



/* Welcome page */

/* .welcome-main {
   background-color: #88BE9E;
   padding: 100px 50px;
   border-radius: 10px;
   border: 1px solid rgb(52, 52, 52);
}

.welcome-title {
   
}

.welcome-login-btn, .welcome-signin-btn {
   padding: 10px 20px;
   border: 1px solid rgb(52, 52, 52);
   border-radius: 5px;
   margin: 80px 30px;
}

.welcome-login-btn {
    
}

.welcome-signin-btn {

}

 
.home-main {
    position: absolute;
    top: 150px;
}

.home-title {
    background-color: ;
    color: #7daf91;
}

.household-info {
    color: #88BE9E;
    font-weight: bolder;
    border-radius: 3px;
}

.tasks-btn, .add-task-btn {
    width: 230px;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 3px;
    padding: 10px 20px;
    color: #709d82;
}  */

/* Nav */

 /* .main-nav {
    position: absolute;
    top: 0px;
    background-color: #88BE9E;
    color: white;
    padding: 5px 20px;
    width: 100vw;
}

.header-nav {
    color:#88BE9E;
}  */
